# Main configuration
config:
  device: "eth0"
  ip: "192.168.0.1"
  portrange: "1-1001"
  portignore: "22,53,80,443,8080"

# Server configurations
redis:
  addr: "redisserver.example:11933"
  user: "redisusername"
  pass: "redispassword"
  db: "0"

# Parser
logparser:
  logfile:  ""
  searchregex: ""
  filterregex: ""


